<link rel = "stylesheet" href = "/css/res.css">
<link href="https://fonts.googleapis.com/css?family=Rajdhani:700" rel="stylesheet">

    <div class="jumbotron">
      <div class="container">
	      <div class = "actual">
	    	<h1>List of cached Results</h1>
			    <div class = "res_list">
			    	<li class="lcont"><a href="/search?q=what+is+the+best+ubisoft+game/"><h3>What is the best ubisoft game?</h3></a>
			    	</li>
			    </div>

			    <div class = "res_list">
			    	<li class="lcont"><a href="http://localhost:3000/search?q=How+much+is+the+price+of+a+tesla/"><h3>How much is the price of a tesla ?</h3></a>
			    	</li>
			    </div>


			    <div class = "res_list">
			    	<li class="lcont"><a href="http://localhost:3000/search?q=How+strategically+challenging+are+Ubisoft+games%3F/"><h3>How strategically challenging are Ubisoft games?</h3></a>
			    	</li>
			    </div>


			    <div class = "res_list">
			    	<li class="lcont"><a href="http://localhost:3000/search?q=what+is+the+review+on+assassin%27s+creed+%3F/"><h3>what is the review on assassin's creed ?</h3></a>
			    	</li>
			    </div>


			    <div class = "res_list">
			    	<li class="lcont"><a href="http://localhost:3000/search?q=What+are+the+upcoming+trends+on+chatbots+%3F/"><h3>What are the upcoming trends on chatbots ?</h3></a>
			    	</li>
			    </div>


			    <div class = "res_list">
			    	<li class="lcont"><a href="http://localhost:3000/search?q=Which+are+the+best+games+of+2017+%3F/"><h3>Which are the best games of 2017 ?</h3></a>
			    	</li>
			    </div>


			    <div class = "res_list">
			    	<li class="lcont"><a href="http://localhost:3000/search?q=What+is+the+state+of+the+art+on+autonomous+cars+%3F/"><h3>What is the state of the art on autonomous cars ?</h3></a>
			    	</li>
			    </div>
<!--

			    <div class = "res_list">
			    	<li class="lcont"><a href="http://localhost:3000/search?q=the-settlers-kingdoms-of-anteria-reborn-as-champions-of-anteria/"><h3>Champions of Anteria Brings a Unique Spin to Real-Time Strategy - UbiBlog 	- Ubisoft速</h3></a>
			    	</li>
			    </div>


			    <div class = "res_list">
			    	<li class="lcont"><a href="http://localhost:3000/search?q=the-settlers-kingdoms-of-anteria-reborn-as-champions-of-anteria/"><h3>Champions of Anteria Brings a Unique Spin to Real-Time Strategy - UbiBlog 	- Ubisoft速</h3></a>
			    	</li>
			    </div>

			    <div class = "res_list">
			    	<li class="lcont"><a href="http://localhost:3000/search?q=the-settlers-kingdoms-of-anteria-reborn-as-champions-of-anteria/"><h3>Champions of Anteria Brings a Unique Spin to Real-Time Strategy - UbiBlog 	- Ubisoft速</h3></a>
			    	</li>
			    </div>

			    <div class = "res_list">
			    	<li class="lcont"><a href="http://localhost:3000/search?q=the-settlers-kingdoms-of-anteria-reborn-as-champions-of-anteria/"><h3>Champions of Anteria Brings a Unique Spin to Real-Time Strategy - UbiBlog 	- Ubisoft速</h3></a>
			    	</li>
			    </div>-->

			</div>
		</div>
      </div>
     
