<link rel = "stylesheet" href = "css/main.css">
    <div class="jumbotron">
      <div class="container-fluid">
        <h1><center>AI Based ranking engine<span style = "font-size:10px;margin-top:10px;">By NeuralTitanium</span></center></h1>
        <p>Enter the keyword and let the magic happen.</p>
		<div class = "seach-area">
		 <form id="searchBox" action="/search" style="display:inline;" method="get">
			<center><input id="text-enter" name="q" size="80" type="text" placeholder="Enter a query "/>
			<input id="search-button" value="Search" type="submit"/></center>
		 </form>
		</div>
      </div>
    </div> 
