<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="css/navbar.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

	<title>Rank Artist - By Neural Titanium</title>
  </head>

  <body>
<header>  
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
		<div class = "navbar-header navbar-left">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
		<a class="navbar-brand" rel="home" href="/" title="Explore around">
        <img style="max-width:200px; margin-top: -7px;"
             src="images/rankArtist.png" align="left">
    </a>
		</div>
      </div>
    </div>
</header>
	{{{body}}}
<footer>
	<div height = "40%" class="content container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">By <strong>Neural Titanium</strong>></a></li>
         </ul>
  </div><!-- content container -->
</footer>
</body>
</html>