body{
	min-height:100%;
	background-color:#f7f7f7;
}

.container{
	padding-left:20px;
	padding-right:20px;
}

.actual{
	min-height:100%;
}

.res_list{
	text-align:left;
	background-color:white;
	padding:30px;
	box-shadow: 2px 2px 5px #888888;
	border: 0.1px solid #f7f7f7;
}

.graph{
	background-color:white;
	box-shadow: 2px 2px 5px #888888;
	border: 0.1px solid #f7f7f7;
	padding:10px;
	margin:0px;
}

#line{
	height:100%;
	min-height:200px;
	min-width:200px;
	width:100%;
}

ul{
	 list-style-type: none;
}

.lop{
	margin:0px;
	padding:0px;
}

.lcont{
	color: #79828c;
	text-decoration:none!important;
}

.lcont h3{
	font-family: 'Rajdhani';
}

.lcont a{
	color: #535e6b;
}

.stats{
	text-transform:uppercase;
	font-family: 'Rajdhani';
	color: #404d5b;
}

.numeric{
	font-size:3em;
	color: #E34B48;
}